body{line-height:1.5em;font-family:arial,"\5b8b\4f53";background:#fff;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-size:inherit}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
i,em{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img{border:0}
img{vertical-align:top}
a{text-decoration:none}
a:hover{text-decoration:underline}
:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
.clear,.clearfix:after{clear:both;height:0;overflow:hidden;display:block}
.clearfix:after{visibility:hidden;content:"."}
.clearfix{*zoom:1}
html,body{margin:0;padding:0}
#superContainer{height:100%;position:relative}
.section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.slide{float:left}
.slide,.slidesContainer{height:100%;display:block}
.slides{height:100%;overflow:hidden;position:relative;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
.section.table,.slide.table{display:table;width:100%}
.tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}
.slidesContainer{float:left;position:relative}
.controlArrow{position:absolute;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px}
.controlArrow.prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}
.controlArrow.next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}
.scrollable{overflow:scroll}
.easing{-webkit-transition:all .7s ease-out;-moz-transition:all .7s ease-out;-o-transition:all .7s ease-out;transition:all .7s ease-out}
#fullPage-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1}
#fullPage-nav.right{right:17px}
#fullPage-nav.left{left:17px}
.fullPage-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}
.fullPage-slidesNav.bottom{bottom:17px}
.fullPage-slidesNav.top{top:17px}
#fullPage-nav ul,.fullPage-slidesNav ul{margin:0;padding:0}
#fullPage-nav li,.fullPage-slidesNav li{display:block;width:14px;height:13px;margin:7px;position:relative}
.fullPage-slidesNav li{display:inline-block}
#fullPage-nav li a,.fullPage-slidesNav li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}
#fullPage-nav li .active span,.fullPage-slidesNav .active span{background:#333}
#fullPage-nav span,.fullPage-slidesNav span{top:2px;left:2px;width:8px;height:8px;border:1px solid #000;background:rgba(0,0,0,0);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;position:absolute;z-index:1}
.fullPage-tooltip{position:absolute;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;top:-2px}
.fullPage-tooltip.right{right:20px}
.fullPage-tooltip.left{left:20px}
body{line-height:1.5em;font-family:arial,"\5b8b\4f53";background:#fff;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-size:inherit}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
i,em{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img{border:0}
img{vertical-align:top}
a{text-decoration:none}
a:hover{text-decoration:underline}
:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
.clear,.clearfix:after{clear:both;height:0;overflow:hidden;display:block}
.clearfix:after{visibility:hidden;content:"."}
.clearfix{*zoom:1}
.page_slider_ctrls{position:fixed;right:20px;top:45%;_position:absolute;z-index:100;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight/2));margin:-149px 0 0;padding:0;list-style-type:none}
.page_slider_ctrls li{margin:2px 0;width:40px;height:40px;display:block;font-family:"MicroSoft YaHei",SimSun,sans-serif;font-size:16px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;overflow:hidden}
.page_slider_ctrls .page_num{width:40px;height:40px;line-height:40px;text-align:center;float:left;background-color:#454545;color:#fff;overflow:hidden}
.page_slider_ctrls .page_theme{width:108px;height:40px;line-height:40px;padding-left:12px;float:left;color:#252525;overflow:hidden}
.page_slider_ctrls a{display:block;width:160px;height:40px;overflow:hidden;*zoom:1}
.page_slider_ctrls a:hover{text-decoration:none}
.page_slider_ctrls li:hover{width:160px;margin-left:-120px}
.page_slider_ctrls li:hover.sp_page0{width:40px;margin-left:0}
.page_slider_ctrls .active.sp_page1{width:40px;margin-left:0}
.page_slider_ctrls .active .page_num{background-color:#c21232}
.sp_page1 .page_theme{background:url(bg01.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg01.jpg*/ no-repeat}
.sp_page2 .page_theme{background:url(bg02.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg02.jpg*/ no-repeat}
.sp_page3 .page_theme{background:url(bg03.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg03.jpg*/ no-repeat}
.sp_page4 .page_theme{background:url(bg04.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg04.jpg*/ no-repeat}
.sp_page5 .page_theme{background:url(bg05.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg05.jpg*/ no-repeat}
.sp_page6 .page_theme{background:url(bg06.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg06.jpg*/ no-repeat}
.sp_page7 .page_theme{background:url(bg07.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg07.jpg*/ no-repeat}
.sp_page8 .page_theme{background:url(bg08.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg08.jpg*/ no-repeat}
.sp_page9 .page_theme{background:url(bg09.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg09.jpg*/ no-repeat}
.sp_page10 .page_theme{background:url(bg09.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg09.jpg*/ no-repeat}
body{line-height:1.5em;font-family:arial,"\5b8b\4f53";background:#fff;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-size:inherit}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
i,em{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img{border:0}
img{vertical-align:top}
a{text-decoration:none}
a:hover{text-decoration:underline}
:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
.clear,.clearfix:after{clear:both;height:0;overflow:hidden;display:block}
.clearfix:after{visibility:hidden;content:"."}
.clearfix{*zoom:1}
@media screen and (max-width:1366px){.sect_banner .sp_guide{margin:29% auto 0}
.sect_banner .sp_guide .guide_tx{font-size:14px}
.sect_banner .sp_guide .guide_tx p{margin-bottom:15px}
.sect_focus .focus_scroll{width:960px}
.sect_focus .focus_scroll .scroll_index{position:absolute;left:auto;top:auto;right:100px;bottom:240px}
.sect_focus .focus_scroll .scroll_body{width:960px !important}
.sect_focus .focus_scroll .module.touts{width:960px}
.sect_163topic .topic_video .get_more .more a{background-size:81.3%}
.sect_163topic .topic_video .video_item .video_desc{background:url(video_desc_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/video_desc_bg.png*/ no-repeat -2px 10px;background-size:100%}
.sect_partner .partner_logo .partner{margin-bottom:0}
}
.low_ie .sect_banner .sp_guide{margin:29% auto 0}
.low_ie .sect_banner .sp_guide .guide_tx{font-size:14px}
.low_ie .sect_banner .sp_guide .guide_tx p{margin-bottom:15px}
.low_ie .sect_focus .focus_scroll{width:960px}
.low_ie .sect_focus .focus_scroll .scroll_index{position:absolute;left:auto;top:auto;right:100px;bottom:240px}
.low_ie .sect_focus .focus_scroll .scroll_body{width:960px !important}
.low_ie .sect_focus .focus_scroll .module.touts{width:960px}
.low_ie .sect_163topic .topic_video .get_more .more a{background-size:81.3%}
.low_ie .sect_163topic .topic_video .video_item .video_desc{background:url(video_desc_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/video_desc_bg.png*/ no-repeat -2px 10px;background-size:100%}
.low_ie .sect_partner .partner_logo .partner{margin-bottom:0}
.page_slider{height:100%}
.page_slider_item{position:relative;height:100%;overflow:hidden}
.taidu_2015_nav{position:fixed;top:0;left:0;z-index:9999}
.sect_banner{background:url(sc-1.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-1.jpg*/ no-repeat 50%;background-size:100% auto;position:relative}
.sect_banner .ad_auto_logo{width:120px;height:445px;position:absolute;left:0;top:auto;right:auto;bottom:0}
.sect_banner .ad_auto_logo img{width:120px;height:445px}
.sp_guide{width:1200px;margin:34% auto 0}
.sp_guide .guide_title{text-align:right}
.sp_guide .guide_title h2{width:72px;height:30px;line-height:27px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:30px;font-weight:normal;font-family:"MicroSoft YaHei",SimSun,sans-serif;text-align:center;margin-right:5px}
.sp_guide .guide_title p{width:195px;height:40px;line-height:40px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;background-color:#c81128;color:#fff;font-size:24px;font-family:Arial;text-align:center}
.sp_guide .guide_tx{padding:20px 0 0 40px;color:#444;font-size:20px;background:url(bg_bd1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg_bd1.png*/ no-repeat 0 0}
.sp_guide .guide_tx .tx_in{padding:0 60px 6px 0;background:url(bg_bd2.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/bg_bd2.png*/ no-repeat right bottom}
.sp_guide .guide_tx p{text-indent:2em;line-height:1.5em;margin-bottom:25px}
.sect_focus{background:url(sc-2.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-2.jpg*/ no-repeat 50%}
.sect_focus .content{width:100%;height:auto}
.sect_focus .ad_auto_logo{width:120px;height:445px;position:absolute;left:0;top:47px;right:auto;bottom:auto}
.sect_focus .ad_auto_logo img{width:120px;height:445px}
.focus_scroll{width:1400px;height:auto;position:relative;left:0;top:50%;margin:0 auto}
.focus_scroll .ad_logo{display:inline-block;padding-left:15px;width:255px;height:55px;margin-bottom:6px}
.focus_scroll .ad_logo img{width:255px;height:55px}
.focus_scroll .scroll_prev,.focus_scroll .scroll_next{width:37px;height:66px;position:absolute;top:42%}
.focus_scroll .scroll_prev{left:-60px;background:url(ico_prev1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_prev1.png*/ no-repeat center}
.focus_scroll .scroll_next{right:-60px;background:url(ico_next1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_next1.png*/ no-repeat center}
.focus_scroll .scroll_index{width:158px;height:406px;position:absolute;left:auto;top:auto;right:100px;bottom:365px;background:url(index_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/index_bg.png*/ no-repeat;font-size:40px;font-family:Arial;color:#fff}
.focus_scroll .scroll_index span{display:none;height:45px;line-height:505px}
.focus_scroll .scroll_index .current{display:block}
.focus_scroll .s_index{text-align:left;padding-top:45px;padding-left:60px}
.focus_scroll .s_total{text-align:right;margin-top:-30px;padding-right:35px}
.scroll_body{width:1400px;overflow:hidden}
.scroll_body .current{display:block}
.module{width:100%;margin:auto;clear:both;display:none}
.module img{vertical-align:bottom}
.module.touts{width:1400px;margin:auto;line-height:0;font-size:0}
.largeToutContainer{width:48.9%;display:inline-block;margin:0 0 0 14px;position:relative}
.largeToutContainer img{max-width:100%;height:auto;min-height:266px}
.middleToutContainer{width:24.3%;display:inline-block;position:relative;left:4px}
.middleToutContainer img{max-width:100%;height:auto;min-height:226px}
.smallToutContainer{width:24.3%;display:inline-block;position:relative;left:4px;margin-right:4px}
.smallToutContainer img{max-width:100%;height:auto}
.smallToutContainer a{position:relative;display:block}
.smallToutContainer .topTout{margin-bottom:4px}
.toutTitle{position:absolute;background-color:rgba(0,0,0,0.5);bottom:0;left:0;font-size:15px;line-height:22px;font-weight:normal;margin:0;padding-top:6px;padding-bottom:6px;color:#fff;max-height:22px;overflow:hidden;word-wrap:normal;width:100%}
.toutTitle span{display:block;padding-left:8px;padding-right:8px}
.sect_video{background:url(sc-3.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-3.jpg*/ no-repeat 50%}
.video_detial{width:1200px;margin:0 auto;background:url(jiahao.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/jiahao.png*/ no-repeat;padding-left:30px;background-position:0 90px}
.video_detial .video{float:left;background:url(jiahao.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/jiahao.png*/ no-repeat bottom right;padding-right:30px;padding-bottom:30px;margin-top:10%}
.video_detial .ad_580{width:580px;height:63px}
.video_detial .ad_580 img{width:580px;height:63px}
.video_detial .ad_logo{display:inline-block;padding-left:145px;width:255px;height:55px;position:relative;z-index:1;margin-top:61%}
.video_detial .ad_logo img{width:255px;height:55px}
.video_detial .video_box{width:580px;height:345px}
.video_detial .video_intro{float:left;width:575px;height:830px;background:url(text_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/text_bg.png*/ no-repeat;margin-top:-25%;margin-left:10px;position:relative}
.video_detial .video_intro .intro_content{position:absolute;bottom:75px;left:50px;width:475px;color:#fff}
.video_detial .video_intro .intro_content a{color:#fff}
.video_detial .video_intro h2{font-family:"MicroSoft YaHei",SimSun,sans-serif;font-size:20px;font-weight:normal}
.video_detial .video_intro p{font-size:13px;margin-top:30px}
.sect_hot{background:url(sc-4.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-4.jpg*/ no-repeat 50%}
.hot_attitude_content{width:1200px;margin:0 auto}
.hot_attitude_content .ad_logo{width:255px;height:55px;display:inline-block;float:left;margin-left:145px;margin-top:80%}
.hot_attitude_content .ad_logo img{width:255px;height:55px}
.hot_attitude_content .hot_scroll{width:435px;height:860px;background:url(hot_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/hot_bg.png*/ no-repeat;margin-top:-22%;float:left}
.hot_attitude_content .hot_scroll .scroll_box{width:388px;height:411px;margin-top:99.5%;margin-left:20px;position:relative}
.hot_attitude_content .hot_right{float:left;margin-top:12%}
.hot_attitude_content .hot_right .hot_attitude_news{width:740px;height:297px;margin-left:25px;background:#fff;margin-bottom:15px;overflow:auto;scrollbar-arrow-color:transparent;scrollbar-face-color:color;scrollbar-3dlight-color:color;scrollbar-highlight-color:color;scrollbar-shadow-color:color;scrollbar-darkshadow-color:color;scrollbar-track-color:color;scrollbar-base-color:color}
.hot_attitude_content .hot_right .hot_attitude_news::-webkit-scrollbar{width:10px}
.hot_attitude_content .hot_right .hot_attitude_news::-webkit-scrollbar-track{position:relative}
.hot_attitude_content .hot_right .hot_attitude_news::-webkit-scrollbar-track-piece{background:url(vline.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/vline.png*/ repeat-y center 0}
.hot_attitude_content .hot_right .hot_attitude_news::-webkit-scrollbar-thumb{background-color:#ba0e2c}
.hot_attitude_content .hot_right .ad_scroll{float:left}
.hot_attitude_content .hot_right .ad_scroll .ad_740{width:740px;height:125px;padding-left:25px;overflow:hidden}
.hot_attitude_content .hot_right .ad_scroll .ad_740 img{width:740px;height:125px}
.hot_attitude_content .hot_right .ad_scroll .ad{float:left;width:765px;display:none}
.hot_attitude_content .hot_right .ad_scroll .current{display:block}
.scroll_body_a{width:388px;height:411px;overflow:hidden}
.scroll_body_a .current{display:block}
.panel_a{float:left;width:388px;position:relative;display:none}
.panel_a img{width:388px;height:411px}
.panel_a span{display:block;width:388px;font-size:14px;color:#fff;background:#000;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr="#7F000000",endcolorstr="#7F000000");position:absolute;left:0;top:auto;right:auto;bottom:0;padding:5px 0 5px 15px}
.hot_list{margin-left:20px}
.hot_list li{border-bottom:1px solid #f8f8f8;padding-top:20px}
.hot_list li a{text-decoration:none;display:inline-block}
.hot_list li .hot_new{padding-bottom:20px;padding-right:45px;float:left}
.hot_list li .hot_new img{width:98px;height:98px;float:left}
.hot_list li .hot_new h2{font-size:14px;color:#7d7d7d;padding-top:20px;padding-left:120px}
.hot_list li .hot_new p{color:#9fa0a2;padding-top:15px;padding-left:120px}
.pot_change{position:absolute;left:auto;top:auto;right:5px;bottom:5px}
.pot_change li{float:left;margin-right:8px;background:url(pot1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/pot1.png*/ no-repeat}
.pot_change li a{width:17px;height:17px;display:block;cursor:pointer;text-align:center;line-height:17px;font-family:"Arial";color:#fff;text-decoration:none}
.pot_change .current{background:url(pot.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/pot.png*/ no-repeat}
.sect_attitude{background:url(sc-5.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-5.jpg*/ no-repeat 50%;-webkit-transition:background-image .2s ease-in-out;-moz-transition:background-image .2s ease-in-out;-ms-transition:background-image .2s ease-in-out;-o-transition:background-image .2s ease-in-out;transition:background-image .2s ease-in-out}
.sect_attitude .tab_button{position:absolute;left:0;top:45%;right:auto;bottom:auto;z-index:99}
.sect_attitude .tab_button span{color:#fff;font-family:"MicroSoft YaHei",SimSun,sans-serif;font-weight:bold;font-size:18px;background:#2a2d2f;padding:10px 25px;margin-bottom:10px;display:block}
.sect_attitude .tab_button span:hover{cursor:pointer}
.sect_attitude .tab_button .active{background:#ba0e2c}
.sect_attitude .union_a,.sect_attitude .union_b,.sect_attitude .union_c{display:none}
.sect_attitude .title_a{width:1100px;margin:-35% auto 0;position:relative;z-index:10}
.sect_attitude .title_a span{width:413px;display:inline-block;background:url(union.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/union.png*/ no-repeat;height:508px}
.sect_attitude .title_a .ad_logo{display:inline-block;width:255px;height:55px;margin-top:88%;float:right}
.sect_attitude .title_a .ad_logo img{width:255px;height:55px}
.rec_bg{position:absolute;left:0;top:10%;right:0;bottom:0;width:100%;height:70%}
.rec_bg .bg_cell{height:100%;float:left;position:relative;background-size:100% auto;background-repeat:no-repeat;text-align:center}
.rec_bg .bg_cell img{max-width:100%;max-height:100%}
.rec_bg .imgbox{display:block;width:100%;height:100%}
.rec_bg .overlayer{position:absolute;left:0;top:0;right:0;bottom:0;z-index:5;width:100%;height:100%;background-color:rgba(0,0,0,0.8)}
.rec_bg .bg_cell1,.rec_bg .bg_cell3{width:33%}
.rec_bg .bg_cell2{width:34%}
.rec_bg .bg_cell2 .overlayer_l{width:20%;height:100%;position:absolute;left:0;top:0;right:auto;bottom:0;z-index:5;background:-webkit-linear-gradient(left,rgba(0,0,0,0.8) 0,transparent 100%);background:-moz-linear-gradient(left,rgba(0,0,0,0.8) 0,transparent 100%);background:-o-linear-gradient(left,rgba(0,0,0,0.8) 0,transparent 100%);background:-ms-linear-gradient(left,rgba(0,0,0,0.8) 0,transparent 100%);background:-linear-gradient(left,rgba(0,0,0,0.8) 0,transparent 100%);filter:alpha(opacity=80,finishopacity=0,style=1,startx=0,starty=0,finishx=50,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#000000,endcolorstr=transparent,gradientType=1)}
.rec_bg .bg_cell2 .overlayer_r{width:20%;height:100%;position:absolute;left:auto;top:0;right:0;bottom:0;z-index:5;background:-webkit-linear-gradient(left,transparent 0,rgba(0,0,0,0.8) 100%);background:-moz-linear-gradient(left,transparent 0,rgba(0,0,0,0.8) 100%);background:-o-linear-gradient(left,transparent 0,rgba(0,0,0,0.8) 100%);background:-ms-linear-gradient(left,transparent 0,rgba(0,0,0,0.8) 100%);background:-linear-gradient(left,transparent 0,rgba(0,0,0,0.8) 100%);filter:alpha(opacity=0,finishopacity=80,style=1,startx=0,starty=0,finishx=50,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#000000,endcolorstr=transparent,gradientType=1)}
.rec_videos{z-index:998;position:absolute;left:0;top:0;right:0;bottom:0;display:none}
.rec_videos .v_box{position:absolute;left:50%;top:50%;right:0;bottom:0;margin:-185px 0 0 -425px;width:850px;height:450px;z-index:999}
.rec_videos .v_show{width:100%;height:100%}
.rec_videos .v_mask{position:absolute;left:0;top:0;right:0;bottom:0;z-index:998}
.rec_videos .v_close{position:absolute;left:auto;top:0;right:-40px;bottom:auto;width:40px;height:40px;background:url(ico_close.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_close.png*/ no-repeat 0 0}
.rec_texts_cell{width:510px;height:240px;position:absolute;left:50%;top:auto;right:auto;bottom:200px;margin-left:-500px;z-index:20}
.rec_texts_title{height:72px;padding:0 15px 0 0;border-bottom:#66625f solid 1px;color:#fff}
.rec_texts_title a,.rec_texts_title a:visited,.rec_texts_title a:hover{color:#fff}
.rec_texts_title .ico_video_l{position:relative;z-index:2;float:left;padding:16px 24px 15px 24px;border-bottom:#970e26 solid 3px;background-position:24px 20px;margin-bottom:-1px;cursor:pointer}
.rec_texts_title h2{position:relative;z-index:2;float:left;height:62px;line-height:62px;padding:8px 5px 0;color:#fff;font-family:"MicroSoft YaHei",SimSun,sans-serif;font-size:18px;font-weight:bold;border-bottom:#66625f solid 3px;margin-bottom:-1px}
.rec_texts_title .more_a{margin-top:40px;font-size:14px}
.rec_texts_digest{padding:35px 45px 35px 40px}
.rec_texts_digest p{line-height:1.8em;font-size:12px;color:#666}
.rec_vshow_btn{width:300px;height:300px;position:absolute;left:50%;top:50%;right:auto;bottom:auto;z-index:15;margin:-200px 0 0 -150px;cursor:pointer;background:url(about:blank)}
.rec_switch .panels .panel{position:absolute;left:0;top:0;right:0;bottom:0;opacity:0}
.rec_switch .panels .on{opacity:1;z-index:20}
.rec_switch .tabs ul{font-size:0}
.rec_switch .tabs li{float:left;_display:inline;vertical-align:bottom;margin:0 1px;width:75px;height:75px;position:relative;font-size:12px;overflow:hidden;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-ms-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.rec_switch .tabs .tx{position:absolute;left:0;top:0;right:0;bottom:0;display:table-cell;text-align:center;opacity:0;_width:75px;_height:75px}
.rec_switch .tabs .tx_in{position:relative;display:inline-block;vertical-align:middle;color:#f9f9f9}
.rec_switch .tabs .tx_in a,.rec_switch .tabs .tx_in a:visited,.rec_switch .tabs .tx_in a:hover{color:#f9f9f9}
.rec_switch .tabs h3{font-size:16px;color:#f9f9f9;font-family:"MicroSoft YaHei",SimSun,sans-serif}
.rec_switch .tabs i{width:0;height:100%;display:inline-block;vertical-align:middle}
.rec_switch .tabs li:hover,.rec_switch .tabs .on{-webkit-transition:all .6s ease;-moz-transition:all .6s ease;-ms-transition:all .6s ease;-o-transition:all .6s ease;transition:all .6s ease;margin-top:-45px;width:108px;height:108px;position:relative;border:#816f61 solid 6px}
.rec_switch .tabs li:hover img,.rec_switch .tabs .on img{width:108px;height:108px}
.rec_switch .tabs li:hover .tx,.rec_switch .tabs .on .tx{opacity:1}
.rec_switch .tabs li:hover .bg_opacity60_black,.rec_switch .tabs .on .bg_opacity60_black{_width:108px;_height:108px}
.rec_scroll{width:100%;height:75px;z-index:30;position:absolute;left:0;top:auto;right:auto;bottom:30px}
.rec_scroll .scroll_in{width:34.3%;height:120px;margin:-45px auto 0;position:relative}
.rec_scroll .scroll_body{width:100%;margin:0 auto;position:relative;overflow:hidden;*zoom:1}
.rec_scroll .scroll_prev,.rec_scroll .scroll_next{width:36px;height:60px;position:absolute;bottom:7px}
.rec_scroll .scroll_prev{left:-80px;background:url(ico_prev.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_prev.png*/ no-repeat center}
.rec_scroll .scroll_next{right:-80px;background:url(ico_next.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_next.png*/ no-repeat center}
.rec_scroll .scroll_items{width:1000% !important;height:75px;padding-top:45px}
.rec_scroll .scroll_items ul{width:1000%}
.bg_opacity_black{background:rgba(0,0,0,0.6)}
.bg_opacity_gray{background:rgba(220,220,220,0.5)}
.bg_opacity60_black{background:rgba(0,0,0,0.6);width:100%;height:100%;position:absolute;left:0;top:0;right:0;bottom:0}
.sp_bg{width:100%;height:auto}
.ico_video_l{display:inline-block;width:39px;height:39px;background:url(ico_video_l.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_video_l.png*/ no-repeat center}
.more_a{float:right}
.more_a,.more_a:visited,.more_a:hover{color:#fff;text-decoration:underline}
.sect_candidate{background:url(sc-6.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-6.jpg*/ no-repeat 50%}
.sect_candidate .content{width:100%;height:auto}
.sect_candidate .content .sect_candidate_content{width:1200px;position:relative;left:0;top:50%;margin:-430px auto 0}
.sect_candidate .candidate_title{width:1165px;margin:-21% auto 0}
.sect_candidate .candidate_title span{width:420px;display:inline-block;background:url(title_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/title_bg.png*/ no-repeat;height:508px}
.sect_candidate .candidate_title .ad_logo{display:inline-block;width:255px;height:55px;margin-top:93%;float:right}
.sect_candidate .candidate_title .ad_logo img{width:255px;height:55px}
.candidate_scroll{width:1200px;margin:-25px auto 0;position:relative}
.candidate_scroll a:hover{cursor:pointer}
.candidate_scroll .scroll_prev,.candidate_scroll .scroll_next{width:37px;height:66px;position:absolute;top:42%;z-index:1;cursor:pointer}
.candidate_scroll .scroll_prev{left:-25px;background:url(ico_prev1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_prev1.png*/ no-repeat center}
.candidate_scroll .scroll_next{right:5px;background:url(ico_next1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_next1.png*/ no-repeat center}
.candidate_scroll .scroll_index ul{margin-left:43px}
.candidate_scroll .scroll_index li{float:left;margin-right:10px;background:url(span_bg1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/span_bg1.png*/ no-repeat;width:114px;height:43px;padding-left:15px;line-height:43px;font-family:"MicroSoft YaHei",SimSun,sans-serif;font-size:16px;color:#878889;cursor:pointer}
.candidate_scroll .scroll_index .current{background:url(span_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/span_bg.png*/ no-repeat;color:#fff}
.scroll_panels{position:static !important}
.scroll_body_b{width:1200px;overflow:hidden;position:relative;float:left}
.scroll_body_b .panel_b{padding-top:20px;display:none}
.scroll_body_b .current{display:block}
.scroll_body_b ul{margin-left:43px}
.scroll_body_b .candidate_item{float:left;margin-right:43px;position:relative;height:315px !important}
.scroll_body_b .candidate_item .c_declaration{padding:15px;width:209px;height:100px;background:#fff;border-bottom:1px solid #bc102e}
.scroll_body_b .candidate_item .c_declaration p{color:#c4c4c5;padding-bottom:10px}
.scroll_body_b .candidate_item .c_declaration h3{color:#7d7d7d;font-size:14px;font-weight:bold}
.scroll_body_b .candidate_item .name{float:right;font-size:14px;color:#fff;padding:5px 15px;background:#bc102e;display:block}
.scroll_body_b .diff_item{margin-right:25px}
.scroll_body_b .diff_item .sc_img{width:135px;height:155px}
.scroll_body_b .diff_item .c_declaration{width:169px}
.sect_tag{background:url(sc-7.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-7.jpg*/ no-repeat 50%}
.sect_tag .content{width:100%;height:auto}
.sect_tag .sect_tag_content{width:1200px;position:relative;left:0;top:50%;margin:-430px auto 0}
.sect_tag .tag_title{width:1200px;margin:-21% auto 0}
.sect_tag .tag_title span{width:435px;display:inline-block;background:url(taidu_tag.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/taidu_tag.png*/ no-repeat;height:487px}
.sect_tag .tag_title .ad_logo{display:inline-block;width:255px;height:55px;margin-top:84%;float:right}
.sect_tag .tag_title .ad_logo img{width:255px;height:55px}
.tag_scroll{width:1200px;margin:0 auto;position:relative}
.tag_scroll .scroll_prev,.tag_scroll .scroll_next{width:37px;height:66px;position:absolute;top:42%;z-index:1;cursor:pointer}
.tag_scroll a:hover{cursor:pointer}
.tag_scroll .scroll_prev{left:-45px;background:url(ico_prev1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_prev1.png*/ no-repeat center}
.tag_scroll .scroll_next{right:-20px;background:url(ico_next1.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/ico_next1.png*/ no-repeat center}
.scroll_body_c{width:1200px;overflow:hidden;position:relative;margin-top:-33px}
.scroll_body_c .panels_c{float:left;height:350px}
.scroll_body_c .panel_c{float:left}
.scroll_body_c ul{margin-left:20px;width:1200px}
.scroll_body_c .tag_item{float:left;margin-right:20px;position:relative}
.scroll_body_c .tag_item .tag{position:absolute;left:0;top:0;right:auto;bottom:auto}
.scroll_body_c .tag_item .tag_desc{position:absolute;left:30px;top:170px;right:auto;bottom:auto;width:150px}
.scroll_body_c .tag_item .tag_desc p{color:#636262;font-family:"MicroSoft YaHei",SimSun,sans-serif;line-height:25px}
.sect_163topic{background:url(sc-8.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-8.jpg*/ no-repeat 50%}
.sect_163topic .ad_1200{width:1200px;position:absolute;left:50%;top:auto;right:auto;bottom:0;margin-left:-600px}
.sect_163topic .ad_1200 img{width:1200px;height:125px}
.sect_163topic .ico_video_l{background-size:70%;position:absolute;left:auto;top:auto;right:0;bottom:0}
.sect_163topic .topic_title{width:1200px;margin:-25% auto 0}
.sect_163topic .topic_title span{width:430px;display:inline-block;background:url(topic_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/topic_bg.png*/ no-repeat;height:477px}
.sect_163topic .topic_title .ad_logo{display:inline-block;width:255px;height:55px;margin-top:85%;float:right}
.sect_163topic .topic_title .ad_logo img{width:255px;height:55px}
.topic_video{width:100%}
.topic_video ul{width:83%;margin:0 auto}
.topic_video .video_item{width:23%;float:left;margin-right:3px;background:#000;background-color:rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr="#5F000000",endcolorstr="#5F000000");padding:3px}
.topic_video .video_item .video{width:97%;height:auto;position:relative;margin-left:5px;margin-top:7px}
.topic_video .video_item .video img{width:100%;height:auto}
.topic_video .video_item .video .title{width:96%;padding:10px 0 10px 10px;font-family:"MicroSoft YaHei",SimSun,sans-serif;color:#fff;font-size:14px;position:absolute;left:0;top:auto;right:auto;bottom:0;background:#000;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr="#7F000000",endcolorstr="#7F000000")}
.topic_video .video_item .video .play{position:absolute;left:auto;top:auto;right:5px;bottom:5px;display:block;width:24px;height:24px;background:url(play.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/play.png*/ no-repeat}
.topic_video .video_item .video_desc{background:url(video_desc_bg.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/video_desc_bg.png*/ no-repeat -2px 0;width:100%;height:78px;background-size:100%}
.topic_video .video_item .video_desc p{color:#fff;font-size:14px;padding:18px 30px 0 30px}
.topic_video .get_more{background:0;width:32px;height:290px;margin-top:-2px}
.topic_video .get_more .more{width:32px;height:291px}
.topic_video .get_more .more a{width:32px;height:290px;display:block;background:url(more.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/more.png*/ no-repeat;background-size:100%}
.topic_video .video_item:hover{background:#ba0e2c}
.topic_video .get_more:hover{background:0}
.sect_hotest{background:url(sc-9.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-9.jpg*/ no-repeat 50%}
.sect_hotest .hotest_title{width:1200px;margin:-25% auto 0}
.sect_hotest .hotest_title span{width:430px;display:inline-block;background:url(hotest_title.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/hotest_title.png*/ no-repeat;height:477px}
.sect_hotest .hotest_title .ad_logo{display:inline-block;width:255px;height:55px;margin-top:85%;float:right}
.sect_hotest .hotest_title .ad_logo img{width:255px;height:55px}
.sect_hotest .content{width:1200px;margin:0 auto}
.text{width:855px;padding-left:35px;margin-top:-30px}
.text p{font-family:"MicroSoft YaHei",SimSun,sans-serif;color:#636262;font-size:14px;line-height:40px}
.text p em{font-weight:bold}
.app_list ul{margin-left:35px}
.app_list li{float:left;width:234px;height:92px;padding-top:30px;padding-right:50px}
.app_list li img{width:100%;height:100%}
.sect_partner{background:url(sc-10.jpg)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/sc-10.jpg*/ no-repeat 50%}
.sect_partner .partner_title{width:1100px;margin:-33% auto 0}
.sect_partner .partner_title span{width:430px;display:inline-block;background:url(partner_title.png)/*tpa=http://img2.cache.netease.com/f2e/gongyi/taidu2015_index/images/partner_title.png*/ no-repeat;height:479px}
.sect_partner .partner_title .ad_logo{display:inline-block;width:255px;height:55px;margin-top:85%;float:right}
.sect_partner .partner_title .ad_logo img{width:255px;height:55px}
.sect_partner .content{width:1100px;margin:0 auto}
.partner_logo .list{width:1100px}
.partner_logo .list .par_a{padding-top:20px}
.partner_logo .list .par_b,.partner_logo .list .par_c{margin-left:315px}
.partner_logo span{font-size:20px;font-family:"MicroSoft YaHei",SimSun,sans-serif;color:#747474;font-weight:bold;float:left}
.partner_logo .partner{margin-left:68px;margin-bottom:30px;margin-top:-20px;display:inline-block}
.partner_logo .partner a{display:block;margin-right:20px;margin-bottom:20px;float:left;height:42px}

